body {
  background-image: url('/blog-docs/images/bg.gif') !important;
}

#vuepress-plugin-comment {
  min-width: 860px;
  max-width: 860px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

@require './markdown-container';
@require './common.styl';
@require './mobile.styl';
