body {
  background-image: url('/blog-docs/images/bg.gif') !important;
  font-family: Bubblegum Sans, cursive !important;
}

#vuepress-plugin-comment {
  min-width: 860px;
  max-width: 860px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.page .theme-reco-content h2:before {
  position: absolute;
  left: 0;
  top: 3.5rem;
  display: block;
  height: 1.8rem;
  content: '';
  border-left: 5px solid #3eaf7c;
}

@require './markdown-container';
@require './common.styl';
@require './mobile.styl';
